/* poppins
 */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap');

/* common utilities
 */
 body{
    font-family: 'Poppins', sans-serif;
 }
 .heading{
   font-size: 24px;
   margin-left: 293px;
   margin-top: 100px;
}



/*-- Influencer-styles
 --------------------*/
 .influencer{
     display: flex;
     justify-content: space-evenly;
 }
 .influencer .influencer-img img{
    width: 440px;
    height: 414px;
 }
 .influencer-detail{
    width: 582px;
 }
 .influencer-title{
    font-size: 52px;
 }
 .influencer-pera{
     font-size: 16px;
 }
.influencer-link{
   background-color: #E02C6D;
   width: 196px;
   color: aliceblue;
   text-align: center;
   border-radius: 41px;
   padding: 10px 24px;
}
.influencer-link a {
   text-decoration: none;
   color: aliceblue;
   align-items: center;
   justify-content: center;
}

/* ------------
Collections
------------- */
.box{
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

}
.Collection{
   display: grid;
   grid-template-columns: repeat(3,1fr);
}
.collection-title{
   font-size: 28px;
   text-align: center;
   
}
.collection{
   width: 329px;
height: 476px;
/* box-shadow: 0px 0px 40px; */
display: flex;
flex-direction: column;
}
.collection img{
   width: 300px;
height: 256px;
padding-left: 14px;
padding-top: 14px;
}
.collection-info{
   padding-left: 14px;
}
.fa-star{
   color:  #FB8200;
}
.more a{
   text-decoration: none;
   color:  #E02C6D;
   font-size: 16px;
   font-weight: 700;
}
.more{
   position: absolute;
   right: 460px;
   
}
/* Footer part */

.copyright{
   background-color: brown;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.influence-products{
   color: #FFFFFF;
   font-size: 24px;
   margin-bottom: 0px;
   margin-top: 30px;
}
.copyright-info{
   margin-top: 10px;
   color: #D9DBE1;
}
.rights{
   display: flex;
   justify-content: center;
}